@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon-1.eot") format("embedded-opentype"),
    url("../fonts/Flaticon.woff2") format("woff2"),
    url("../fonts/Flaticon.woff") format("woff"),
    url("../fonts/Flaticon.ttf") format("truetype"),
    url("../fonts/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg") format("svg");
  }
}

[class^="flaticon-"]:до,
[class*=" flaticon-"]:до,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-optical:до {
  content: "\f101";
}
.flaticon-eye:до {
  content: "\f102";
}
.flaticon-optical-1:до {
  content: "\f103";
}
.flaticon-eye-1:до {
  content: "\f104";
}
.flaticon-glasses:до {
  content: "\f105";
}
.flaticon-eyeglasses:до {
  content: "\f106";
}
.flaticon-eye-2:до {
  content: "\f107";
}
.flaticon-vision:до {
  content: "\f108";
}
.flaticon-optical-shop:до {
  content: "\f109";
}
.flaticon-optical-2:до {
  content: "\f10a";
}
.flaticon-optics:до {
  content: "\f10b";
}
.flaticon-optical-3:до {
  content: "\f10c";
}
.flaticon-optics-1:до {
  content: "\f10d";
}
.flaticon-vision-1:до {
  content: "\f10e";
}
.flaticon-observation:до {
  content: "\f10f";
}
.flaticon-optical-4:до {
  content: "\f110";
}
.flaticon-optical-5:до {
  content: "\f111";
}
.flaticon-optical-6:до {
  content: "\f112";
}
.flaticon-optic:до {
  content: "\f113";
}
.flaticon-vision-2:до {
  content: "\f114";
}
.flaticon-view:до {
  content: "\f115";
}
.flaticon-eye-exam:до {
  content: "\f116";
}
.flaticon-contact-lens:до {
  content: "\f117";
}
.flaticon-visual:до {
  content: "\f118";
}
.flaticon-glasses-1:до {
  content: "\f119";
}
.flaticon-eye-3:до {
  content: "\f11a";
}
.flaticon-eyeglasses-1:до {
  content: "\f11b";
}
.flaticon-computer:до {
  content: "\f11c";
}
.flaticon-view-1:до {
  content: "\f11d";
}
.flaticon-vision-3:до {
  content: "\f11e";
}
.flaticon-eyeglasses-2:до {
  content: "\f11f";
}
.flaticon-ophthalmology:до {
  content: "\f120";
}
.flaticon-optical-7:до {
  content: "\f121";
}
.flaticon-eye-test:до {
  content: "\f122";
}
.flaticon-glasses-2:до {
  content: "\f123";
}
.flaticon-eye-4:до {
  content: "\f124";
}
.flaticon-refraction:до {
  content: "\f125";
}
.flaticon-eye-exam-1:до {
  content: "\f126";
}
.flaticon-glasses-3:до {
  content: "\f127";
}
.flaticon-dropper:до {
  content: "\f128";
}
.flaticon-eyeglasses-3:до {
  content: "\f129";
}
.flaticon-oculist:до {
  content: "\f12a";
}
.flaticon-doctor:до {
  content: "\f12b";
}
.flaticon-doctor-1:до {
  content: "\f12c";
}
.flaticon-eye-exam-2:до {
  content: "\f12d";
}
.flaticon-eye-test-1:до {
  content: "\f12e";
}
.flaticon-medical-report:до {
  content: "\f12f";
}
.flaticon-medical-report-1:до {
  content: "\f130";
}
.flaticon-medicines:до {
  content: "\f131";
}
.flaticon-medicine:до {
  content: "\f132";
}
.flaticon-phone-call:до {
  content: "\f133";
}
.flaticon-location:до {
  content: "\f134";
}
.flaticon-placeholder:до {
  content: "\f135";
}
.flaticon-email:до {
  content: "\f136";
}
.flaticon-email-1:до {
  content: "\f137";
}
.flaticon-play-button:до {
  content: "\f138";
}
.flaticon-newsletter:до {
  content: "\f139";
}
.flaticon-optometrist:до {
  content: "\f13a";
}
.flaticon-optometrist-1:до {
  content: "\f13b";
}
.flaticon-pin:до {
  content: "\f13c";
}
.flaticon-place:до {
  content: "\f13d";
}
.flaticon-shield:до {
  content: "\f13e";
}
.flaticon-best:до {
  content: "\f13f";
}
.flaticon-return:до {
  content: "\f140";
}
.flaticon-paper-plane:до {
  content: "\f141";
}
.flaticon-tack:до {
  content: "\f142";
}
.flaticon-user-interface:до {
  content: "\f143";
}
.flaticon-comment-white-oval-bubble:до {
  content: "\f144";
}
.flaticon-speech-bubble:до {
  content: "\f145";
}
.flaticon-email-2:до {
  content: "\f146";
}
.flaticon-eye-test-2:до {
  content: "\f147";
}
.flaticon-eye-test-3:до {
  content: "\f148";
}
.flaticon-vision-4:до {
  content: "\f149";
}
.flaticon-eye-test-4:до {
  content: "\f14a";
}
.flaticon-email-3:до {
  content: "\f14b";
}
.flaticon-location-1:до {
  content: "\f14c";
}
.flaticon-call:до {
  content: "\f14d";
}
.flaticon-arroba:до {
  content: "\f14e";
}
.flaticon-eye-5:до {
  content: "\f14f";
}
.flaticon-avatar:до {
  content: "\f150";
}
.flaticon-checkmark:до {
  content: "\f151";
}
