{% extends 'index2.html' %}
{% load static %}
{% load i18n%}
{% block page %}

<div class="banner_slider_wrapper">
        <div class="banner_slider banner_slider_3">
          <div
            class="slide"
            style="background-image: url({% static 'assets/images/slides/slider-mainbg-001.jpg' %})"
          >
            <div
              class="slide__content ttm-textcolor-darkgrey text-right slide_style1"
            >
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 no-gutters">
                    <div
                      class="slide__content--headings d-md-flex d-block text-md-left text-center"
                    >
                      <div
                        data-animation="fadeIntop"
                        class="fade-main ttm-bgcolor-white"
                      ></div>
                      <div
                        data-animation="fadeInbottom"
                        class="fade-main-bottom ttm-bgcolor-white"
                      ></div>
                      <div
                        data-animation="fadeInLeft"
                        class="fade-in-main ttm-bgcolor-white"
                      ></div>
                      <div class="padding_top10">
                        <h3
                          data-animation="fadeInDown"
                          class="text-md-left text-center"
                        >
                          {% trans 'Ставьте свою безопасность во главу угла' %}
                        </h3>
                        <h1
                          data-animation="fadeInDown"
                          class="text-md-left text-center"
                        >
                          БОЛЕЕ РЕАЛЬНО
                        </h1>
                        <h2
                          data-animation="fadeInDown"
                          class="text-md-left fs-60 text-center"
                        >
                          Видение для
                          <span class="ttm-textcolor-skincolor"> лучшей </span>
                          жизни
                        </h2>
                        <div class="slider-btn">
                          <a
                            class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor ttm-btn-right ttm-icon-btn-right"
                            href="glasses.html"
                            >More About<i class="fontello icon-plus"></i
                          ></a>
                          <div
                            class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-size-xl ttm-icon_element-color-skincolor"
                          >
                            <i class="flaticon-eye-exam-1 fs-58"></i>
                          </div>
                          <div
                            class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-size-xl ttm-icon_element-color-skincolor"
                          >
                            <i class="flaticon-eye-5 fs-58"></i>
                          </div>
                          <div
                            class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-size-xl ttm-icon_element-color-skincolor"
                          >
                            <i class="flaticon-optometrist fs-58"></i>
                          </div>
                          <div
                            class="align-items-center res-767-margin_top20"
                            data-animation="fadeInUp"
                            data-delay="1.4"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="slide"
            style="background-image: url(static/assets/images/slides/slider-mainbg-002.jpg)"
          >
            <div
              class="slide__content ttm-textcolor-darkgrey text-right slide_style1"
            >
              <div class="container">
                <div class="row">
                  <div class="col-lg-12 no-gutters">
                    <div
                      class="slide__content--headings d-md-flex d-block text-md-left text-center"
                    >
                      <div
                        data-animation="fadeIntop"
                        class="fade-main ttm-bgcolor-white"
                      ></div>
                      <div
                        data-animation="fadeInbottom"
                        class="fade-main-bottom ttm-bgcolor-white"
                      ></div>
                      <div
                        data-animation="fadeInLeft"
                        class="fade-in-main ttm-bgcolor-white"
                      ></div>
                      <div class="padding_top10">
                        <h3
                          data-animation="fadeInDown"
                          class="text-md-left text-center"
                        >
                          Ставьте свою безопасность во главу угла
                        </h3>
                        <h1
                          data-animation="fadeInDown"
                          class="text-md-left text-center"
                        >
                          WE BRING
                        </h1>
                        <h2
                          data-animation="fadeInDown"
                          class="text-md-left fs-60 text-center"
                        >
                          For Your
                          <span class="ttm-textcolor-skincolor"> Eyes </span>
                          Only
                        </h2>
                        <div class="slider-btn">
                          <a
                            class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor ttm-btn-right ttm-icon-btn-right"
                            href="glasses.html"
                            >More About<i class="fontello icon-plus"></i
                          ></a>
                          <div
                            class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-size-xl ttm-icon_element-color-skincolor"
                          >
                            <i class="flaticon-eye-exam-1 fs-58"></i>
                          </div>
                          <div
                            class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-size-xl ttm-icon_element-color-skincolor"
                          >
                            <i class="flaticon-eye-5 fs-58"></i>
                          </div>
                          <div
                            class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-size-xl ttm-icon_element-color-skincolor"
                          >
                            <i class="flaticon-optometrist fs-58"></i>
                          </div>
                          <div
                            class="align-items-center res-767-margin_top20"
                            data-animation="fadeInUp"
                            data-delay="1.4"
                          ></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--site-main start-->
      <div class="site-main">
        <section class="ttm-row vision-section">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div
                  class="padding_left50 bg-img1 ttm-bg ttm-bgimage-yes res-991-padding_right80 ml_50 mr_80 clearfix"
                >
                  <div class="row no-gutters">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                      <div class="ttm-bgcolor-white spacing-11">
                        <!-- section title -->
                        <div class="section-title">
                          <div class="title-header">
                            <h2 class="title">
                              {% trans 'Каждый заслуживает ясно видеть мир.' %}
                            </h2>
                          </div>
                          <div class="title-desc">
                            <p>
                              {% trans 'Наша миссия состоит в том, чтобы обеспечить пациентов лучшими врачами-офтальмологами, тщательными осмотрами глаз и личным вниманием, которого вы заслуживаете.' %}
                            </p>
                          </div>
                        </div>
                        <div class="margin_top30">
                          <div
                            class="featured-icon-box icon-align-before-content style9 icon-ver_align-top"
                          >
                            <h3>{% trans 'Первоклассный сервис по уходу за глазами' %}</h3>
                            <div class="featured-icon">
                              <div
                                class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-skincolor ttm-icon_element-size-md ttm-icon_element-style-square"
                              >
                                <i class="flaticon-eye-test-4"></i>
                              </div>
                            </div>
                            <div class="featured-content">
                              <div class="featured-desc">
                                <p class="padding_bottom10">
                                 {% trans 'Компания стремится предоставлять исключительные услуги по уходу за глазами. Зрение бесценно!!!' %}
                                </p>
                              </div>
                              <a
                                class="ttm-btn ttm-btn-size-md ttm-btn-color-darkgrey btn-inline ttm-icon-btn-right"
                                href="phakic-lens.html"
                                title=""
                                >Know More<i class="fontello icon-plus"></i
                              ></a>
                            </div>
                          </div>
                        </div>
                        <div class="margin_top35">
                          <div
                            class="featured-icon-box icon-align-before-content style9 icon-ver_align-top"
                          >
                            <h3>{% trans 'Оборудование для осмотра зрения' %}</h3>
                            <div class="featured-icon">
                              <div
                                class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-skincolor ttm-icon_element-size-md ttm-icon_element-style-square"
                              >
                                <i class="flaticon-optometrist"></i>
                              </div>
                            </div>
                            <div class="featured-content">
                              <div class="featured-desc">
                                <p class="padding_bottom10">
                                  {% trans 'Новейший инструментарий технологических достижений помогает нам диагностировать и улучшать зрение бесов.' %}
                                </p>
                              </div>
                              <a
                                class="ttm-btn ttm-btn-size-md ttm-btn-color-darkgrey btn-inline ttm-icon-btn-right"
                                href="project-style-01.html"
                                title=""
                                >Know More<i class="fontello icon-plus"></i
                              ></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 col-md-12"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section
          class="ttm-row ttm-bgcolor-darkgrey service-section style1 col-bg-img-one ttm-col-bgimage-yes ttm-bg clearfix"
        >
          <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
          <div class="container">
            <div class="row">
              <div class="col-xl-8 col-md-12">
                <div class="row mb_30">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <!--featured-icon-box-->
                    <div
                      class="featured-icon-box icon-align-top-content style10"
                    >
                      <div class="featured-icon">
                        <div
                          class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg"
                        >
                          <i class="ttm-num ti-info"></i>
                          <i class="flaticon-eye-test-3"></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <div class="featured-title">
                          <h3>{% trans 'Мы сертифицированы' %}</h3>
                        </div>
                        <div class="featured-desc">
                          <p>
                            {% trans 'Мы сертифицированы правительством за выдающиеся достижения в области офтальмологических технологий!' %}
                          </p>
                        </div>
                      </div>
                    </div>
                    <!--featured-icon-box end-->
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <!--featured-icon-box-->
                    <div
                      class="featured-icon-box icon-align-top-content style10"
                    >
                      <div class="featured-icon">
                        <div
                          class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg"
                        >
                          <i class="ttm-num ti-info"></i>
                          <i class="flaticon-visual"></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <div class="featured-title">
                          <h3>{% trans 'Годы службы' %}</h3>
                        </div>
                        <div class="featured-desc">
                          <p>
                            {% trans 'Общественное здравоохранение и уход за зрением в этом районе более 20 лет' %}
                          </p>
                        </div>
                      </div>
                    </div>
                    <!--featured-icon-box end-->
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <!--featured-icon-box-->
                    <div
                      class="featured-icon-box icon-align-top-content style10"
                    >
                      <div class="featured-icon">
                        <div
                          class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg"
                        >
                          <i class="ttm-num ti-info"></i>
                          <i class="flaticon-optic"></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <div class="featured-title">
                          <h3>Врачи-эксперты</h3>
                        </div>
                        <div class="featured-desc">
                          <p>
                            {% trans 'Вам будет оказана дружелюбная, сострадательная забота о зрении' %}
                          </p>
                        </div>
                      </div>
                    </div>
                    <!--featured-icon-box end-->
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                    <!--featured-icon-box-->
                    <div
                      class="featured-icon-box icon-align-top-content style10"
                    >
                      <div class="featured-icon">
                        <div
                          class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg"
                        >
                          <i class="ttm-num ti-info"></i>
                          <i class="flaticon-computer"></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <div class="featured-title">
                          <h3>{% trans 'Отличные услуги' %}</h3>
                        </div>
                        <div class="featured-desc">
                          <p>
                            {% trans 'Сегодня мы вписываемся в идеальные рамки обслуживания для всех' %}
                          </p>
                        </div>
                      </div>
                    </div>
                    <!--featured-icon-box end-->
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-md-12">
                <div class="ttm_single_image-wrapper">
                  <img
                    class="img-fluid"
                    width="370"
                    height="549"
                    src="{% static 'assets/images/single-img-12.jpg'%}"
                    alt="single_07"
                  />
                </div>
                <div
                  class="ttm_single_content ttm-bgcolor-skincolor text-left padding_top20 padding_left35 padding_bottom10"
                >
                  <h3 class="margin_bottom0">{% trans 'Почему нужно выбрать нас?' %}</h3>
                  <p class="margin_bottom0">Lorem ipsum dolor sit amlore.</p>
                </div>
              </div>
            </div>
            <!-- row end -->
          </div>
        </section>

        <section class="ttm-row grid-section clearfix">
          <div class="container">
            <!-- row -->
            <div class="row">
              {% for doctor in doctors %}
              <div class="ttm-box-col-wrapper col-lg-4 col-md-6 col-sm-6">
                <!-- featured-imagebox-team -->
                <div class="featured-imagebox featured-imagebox-team style1">
                  <div class="featured-thumbnail">
                    <a style="width: 100%; height: 100%" href="{% url 'doctor' doctor.pk %}">
                      <img
                      class="img-fluid"
                      src="{{ doctor.image.url}}"
                      alt="image"
                    />
                    </a>
                    <div class="featured-iconbox ttm-media-link">
                      <div class="media-block">
                        <ul class="social-icons">
                          <li>
                            <a
                              class="tooltip-top"
                              href="#"
                              rel="noopener"
                              aria-label="facebook"
                              tabindex="0"
                              ><i class="fa fa-facebook"></i
                            ></a>
                          </li>
                          <li>
                            <a
                              class="tooltip-top"
                              href="#"
                              rel="noopener"
                              aria-label="twitter"
                              tabindex="0"
                              ><i class="fa fa-twitter"></i
                            ></a>
                          </li>
                          <li>
                            <a
                              class="tooltip-top"
                              href="#"
                              rel="noopener"
                              aria-label="google"
                              tabindex="0"
                              ><i class="fa fa-google-plus"></i
                            ></a>
                          </li>
                          <li>
                            <a
                              class="tooltip-top"
                              href="#"
                              rel="noopener"
                              aria-label="linkedin"
                              tabindex="0"
                              ><i class="fa fa-linkedin"></i
                            ></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="featured-content">
                    <div class="featured-title">
                      <h3>
                        <a href="{% url 'doctor' doctor.pk %}">
                          {{ doctor.full_name }}</a
                        >
                      </h3>
                    </div>
                    <div class="team-position">{{ doctor.position }}</div>
                  </div>

                </div><!-- featured-imagebox-team end-->
              </div>
              {% endfor %}
            </div>
          </div>
        </section>

        <section
          class="ttm-row bottom_zero_padding-section checkup-section clearfix"
        >
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-md-6 col-md-12">
                <div
                  class="ttm_single_image-wrapper padding_bottom30 res-767-padding_bottom0"
                >
                  <img
                    class="img-fluid"
                    src="{% static 'assets/images/single-img-02.jpg'%}"
                    alt=""
                  />
                  <div class="ttm_single_image_text">
                    <h3>{% trans 'Нужен врач для осмотра? Позвоните для консультации!' %}</h3>
                    <a
                      class="ttm-textcolor-skincolor fs-26"
                      href="project-style-01.html"
                      ><u>{% trans 'Аварийная служба!' %}</u></a
                    >
                  </div>
                </div>
              </div>
              <div
                class="col-xl-6 col-md-6 col-md-12 margin_top70 padding_left30 res-325-padding_left30"
              >
                <div class="section-title">
                  <div class="title-header">
                    <h2 class="title">
                      {% trans 'Ваше зрение – наш главный приоритет!' %}
                    </h2>
                  </div>
                  <div class="title-desc">
                    <p class="margin_top20 margin_bottom30">
                      {% trans 'Наши учреждения оснащены самыми современными офтальмологическими технологиями, чтобы обеспечить наиболее эффективные процедуры и средства ухода.' %}
                    </p>
                  </div>
                </div>
                <div class="res-991-pt-15">
                  <div class="row">
                    <div class="col-md-6">
                      <ul class="ttm-list ttm-list-style-icon style1">
                        <li>
                          <i class="flaticon-checkmark"></i>
                          <span class="ttm-list-li-content"
                            >{% trans 'Индивидуальная программа лечения' %}</span
                          >
                        </li>
                        <li>
                          <i class="flaticon-checkmark"></i>
                          <span class="ttm-list-li-content"
                            >{% trans 'Высочайший профессиональный уровень.' %}</span
                          >
                        </li>
                        <li>
                          <i class="flaticon-checkmark"></i>
                          <span class="ttm-list-li-content"
                            >{% trans 'Выполняем все операции' %}</span
                          >
                        </li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                      <ul class="ttm-list ttm-list-style-icon style1">
                        <li>
                          <i class="flaticon-checkmark"></i>
                          <span class="ttm-list-li-content"
                            >{% trans 'Это доступно под одной крышей' %}</span
                          >
                        </li>
                        <li>
                          <i class="flaticon-checkmark"></i>
                          <span class="ttm-list-li-content"
                            >{% trans 'Специализированные процедуры для глаз' %}</span
                          >
                        </li>
                        <li>
                          <i class="flaticon-checkmark"></i>
                          <span class="ttm-list-li-content"
                            >{% trans '100% соответствие материалов' %}</span
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div
                  class="ttm-horizontal_sep width-100 margin_top35 margin_bottom35"
                ></div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12 ttm-box-col-wrapper">
                    <!-- ttm-fid -->
                    <div
                      class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-top_icon style1"
                    >
                      <div class="ttm-fid-contents">
                        <h3 class="ttm-fid-inner">
                          <span
                            data-appear-animation="animateDigits"
                            data-from="0"
                            data-to="320"
                            data-interval="5"
                            data-before=""
                            data-before-style="sup"
                            data-after=""
                            data-after-style="sub"
                            class="numinate"
                            >320</span
                          >
                          <span class="ml_10 res-991-ml-0">+</span>
                        </h3>
                        <h4 class="ttm-fid-title">{% trans 'Награды' %}</h4>
                      </div>
                    </div>
                    <!-- ttm-fid end -->
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 ttm-box-col-wrapper">
                    <!-- ttm-fid -->
                    <div
                      class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-top_icon style1"
                    >
                      <div class="ttm-fid-contents">
                        <h3 class="ttm-fid-inner">
                          <span
                            data-appear-animation="animateDigits"
                            data-from="0"
                            data-to="152"
                            data-interval="5"
                            data-before=""
                            data-before-style="sup"
                            data-after=""
                            data-after-style="sub"
                            class="numinate"
                            >152</span
                          >
                          <span class="ml_10 res-991-ml-0">k</span>
                        </h3>
                        <h4 class="ttm-fid-title">Счастливые клиенты</h4>
                      </div>
                    </div>
                    <!-- ttm-fid end -->
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 ttm-box-col-wrapper">
                    <!-- ttm-fid -->
                    <div
                      class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-top_icon style1"
                    >
                      <div class="ttm-fid-contents">
                        <h3 class="ttm-fid-inner">
                          <span
                            data-appear-animation="animateDigits"
                            data-from="0"
                            data-to="852"
                            data-interval="5"
                            data-before=""
                            data-before-style="sup"
                            data-after=""
                            data-after-style="sub"
                            class="numinate"
                            >852</span
                          >
                        </h3>
                        <h4 class="ttm-fid-title">Счастливые клиенты</h4>
                      </div>
                    </div>
                    <!-- ttm-fid end -->
                  </div>
                </div>
                <div class="res-991-pt-15">
                  <div class="row">
                    <div class="col-md-6 padding_left0">
                      <div
                        class="ttm_single_image-wrapper res-1300-margin_top70 margin_top35 ml_30 res-1199-margin_top30"
                      >
                        <img
                          class="img-fluid"
                          src="{% static 'assets/images/single-img-03.jpg'%}"
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="col-md-6 padding_left0">
                      <div
                        class="featured-icon-box icon-align-before-content icon-ver_align-top margin_top100 res-767-margin_top20 res-1199-margin_top140 res-1300-margin_top120 res-1199-margin_top70 res-1199-ml_70 res-767-margin_left15 ml_40"
                      >
                        <div class="featured-icon">
                          <img
                            class="img-fluid"
                            width="80"
                            height="60"
                            src="{% static 'assets/images/single-icon.png'%}"
                            alt=""
                          />
                        </div>
                        <div class="featured-content">
                          <div class="featured-title">
                            <h3 class="fs-20 font-weight-700">
                              Мы ценим здоровье наших пациентов.
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section
        style="margin-top: 15px"
          class="ttm-row zero_padding-section testimonial-section clearfix"
        >
          <div class="container">
            <div class="row no-gutters">
              <div class="col-lg-1 col-md-12">
                <div
                  class="col-bg-img-two ttm-col-bgimage-yes ttm-bg ttm-left-span spacing-13 res-991-padding_top0"
                >
                  <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                  <div class="layer-content"></div>
                </div>
                <img
                  src="{% static 'assets/images/bg-image/col-bgimage-2.png'%}"
                  class="ttm-equal-height-image"
                  alt="bg-image"
                />
              </div>
              <div class="col-lg-10 col-md-12">
                <div
                  class="col-bg-img-four ttm-col-bgimage-yes ttm-bgcolor-darkgrey spacing-8 position-relative"
                >
                  <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                  <div class="layer-content">
                    <!-- row -->
                    <div class="row">
                      <div class="col-lg-5 col-md-4 m-auto">
                        <div class="testimonials-nav">
                          {% for re in reviews %}
                          <div
                            class="testimonial-avatar"
                            aria-hidden="true"
                            tabindex="0"
                          >
                            <div class="testimonial-img">
                              <img
                                class="img-fluid"
                                src="{{ re.image.url }}"
                                alt="testimonial-img"
                              />
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <!-- testimonials -->
                        <div class="testimonials-info style3">
                          {% for r in reviews %}
                          <div class="testimonials">
                            <div class="testimonial-content">
                              <blockquote class="testimonial-text text-center">
                                {{r.text}}
                              </blockquote>
                              <div class="testimonial-bottom">
                                <div class="star-ratings">
                                  <ul class="rating">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                  </ul>
                                </div>
                                <div class="testimonial-caption">
                                  <h3>{{r.name}}</h3>
                                </div>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-1 col-md-12">
                <div
                  class="col-bg-img-three ttm-col-bgimage-yes ttm-bg ttm-right-span spacing-12"
                >
                  <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                  <div class="layer-content"></div>
                </div>
                <img
                  src="{% static 'assets/images/bg-image/col-bgimage-3.png'%}"
                  class="ttm-equal-height-image"
                  alt="bg-image"
                />
              </div>
            </div>
          </div>
        </section>

        <section
          class="ttm-row top_zero_padding-section client-section clearfix"
        >
          <div class="container-fluid">
            <!-- slick_slider -->
            <div
              class="slick_slider row"
              data-slick='{"slidesToShow": 6, "slidesToScroll": 1, "arrows":false, "autoplay":false, "infinite":true, "responsive": [{"breakpoint":1200,"settings":{"slidesToShow": 5}}, {"breakpoint":1024,"settings":{"slidesToShow": 4}}, {"breakpoint":777,"settings":{"slidesToShow": 3}}, {"breakpoint":575,"settings":{"slidesToShow": 2}}]}'
            >
              <div class="col-lg-12">
                <div class="client-box">
                  <div
                    class="ttm-client-logo-tooltip ttm-vertical_sep"
                    data-tooltip="client-01"
                  >
                    <div class="client-thumbnail client-thumbnail-grayscale">
                      <img
                        class="img-fluid"
                        width="109"
                        height="80"
                        src="{% static 'assets/images/client/skin-client-01.png'%}"
                        alt="image"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="client-box">
                  <div
                    class="ttm-client-logo-tooltip ttm-vertical_sep"
                    data-tooltip="client-01"
                  >
                    <div class="client-thumbnail client-thumbnail-grayscale">
                      <img
                        class="img-fluid"
                        width="148"
                        height="74"
                        src="{% static 'assets/images/client/skin-client-02.png'%}"
                        alt="image"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="client-box">
                  <div
                    class="ttm-client-logo-tooltip ttm-vertical_sep"
                    data-tooltip="client-01"
                  >
                    <div class="client-thumbnail client-thumbnail-grayscale">
                      <img
                        class="img-fluid"
                        width="97"
                        height="76"
                        src="{% static 'assets/images/client/skin-client-03.png'%}"
                        alt="image"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="client-box">
                  <div
                    class="ttm-client-logo-tooltip ttm-vertical_sep"
                    data-tooltip="client-01"
                  >
                    <div class="client-thumbnail client-thumbnail-grayscale">
                      <img
                        class="img-fluid"
                        width="88"
                        height="80"
                        src="{% static 'assets/images/client/skin-client-04.png'%}"
                        alt="image"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="client-box">
                  <div
                    class="ttm-client-logo-tooltip ttm-vertical_sep"
                    data-tooltip="client-01"
                  >
                    <div class="client-thumbnail client-thumbnail-grayscale">
                      <img
                        class="img-fluid"
                        width="109"
                        height="80"
                        src="{% static 'assets/images/client/skin-client-05.png'%}"
                        alt="image"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="client-box">
                  <div
                    class="ttm-client-logo-tooltip ttm-vertical_sep"
                    data-tooltip="client-01"
                  >
                    <div class="client-thumbnail client-thumbnail-grayscale">
                      <img
                        class="img-fluid"
                        width="109"
                        height="80"
                        src="{% static 'assets/images/client/skin-client-01.png'%}"
                        alt="image"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="client-box">
                  <div
                    class="ttm-client-logo-tooltip ttm-vertical_sep"
                    data-tooltip="client-01"
                  >
                    <div class="client-thumbnail client-thumbnail-grayscale">
                      <img
                        class="img-fluid"
                        width="148"
                        height="84"
                        src="{% static 'assets/images/client/skin-client-06.png'%}"
                        alt="image"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ttm-client end -->
          </div>
          <div class="ttm-horizontal_sep sep_width2 width-100"></div>
        </section>

        <section class="ttm-row twentytwenty-section clearfix">
          <div class="container">
            <!--row -->
            <div class="row">
              <div class="col-lg-8">
                <!-- section title -->
                <div class="section-title text-left">
                  <div class="title-header">
                    <h3>OUR VISION</h3>
                    <h2 class="title">Позаботьтесь о своем видении ради лучшей жизни</h2>
                  </div>
                </div>
                <!-- section title end -->
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div
                      class="featured-imagebox featured-imagebox-post style4"
                    >
                      <div class="featured-thumbnail">
                        <img
                          class="img-fluid auto_size"
                          src="{% static 'assets/images/single-img-06.png'%}"
                          alt=""
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div
                      class="featured-imagebox featured-imagebox-post style4"
                    >
                      <div class="featured-content">
                        <div class="post-meta res-575-margin_top15">
                          <span class="ttm-meta-user date-link">
                            <i class="flaticon-user-interface"></i>От администратора</span>
                          <span class="ttm-meta-line tags-links"
                            ><i class="flaticon-comment-white-oval-bubble"></i
                            >02 Comments</span
                          >
                        </div>
                        <div class="featured-title">
                          <h3 class="margin_bottom20">
                            <a href="retina-disease.html"
                              >Не соглашайтесь ни на что, что ниже стандарта</a
                            >
                          </h3>
                        </div>
                        <div class="featured-desc">
                          <p>
                            Maximizing the visual potential of each of <br />the
                            patients through quality treatment
                          </p>
                        </div>
                        <a
                          class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor ttm-btn-right ttm-icon-btn-right margin_top10"
                          href="contact.html"
                          >Know More<i class="fontello icon-plus"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <!-- ttm_single_image-wrapper -->
                <div
                  class="ttm_single_image-wrapper ttm-reset-content-center-991"
                >
                  <div class="twentytwenty-container">
                    <img src="{% static 'assets/images/after-img-one.jpg'%}" alt="after" />
                    <img src="{% static 'assets/images/before-img-one.jpg'%}" alt="before" />
                  </div>
                </div>
                <!-- ttm_single_image-wrapper end -->
              </div>
            </div>
          </div>
        </section>
{% endblock %}