<!DOCTYPE html>
{% load static %}
{% load i18n%}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="HTML5 Template" />
    <meta
      name="keywords"
      content="Optometrist & Eye Care html template,  unlimited colors available, ui/ux, ui/ix designs, best wordpress theme, html template, html, javascript, best css theme, css3, elementor theme, latest premium themes 2022,latest premium templates 2022, cymol themes, themetechmount, multi-theme, eye care, Eye Care Clinic, eye doctor, eye surgeon theme, healthcare, Laser Vision, medical theme, ophthalmologist, optical store, optometrist, responsive wp theme, vision care, website theme and template, woocommerce"
    />
    <meta
      name="description"
      content="Optrica &#8211; Optometrist &amp; Eye Care HTML Template"
    />
    <meta name="author" content="https://www.themetechmount.com/" />
    <meta name="viewport" content=" width=device-width, initial-scale=1" />
    <title>Optrica &#8211; Optometrist &amp; Eye Care HTML Template</title>

    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/animate.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/flaticon.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/fontello.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/themify-icons.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/slick.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/prettyPhoto.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/twentytwenty.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/shortcodes.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/megamenu.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/responsive.css'%}" />
  </head>

  <body>
    <!--page start-->
    <div class="page">
      <!-- preloader start -->
      <div id="preloader" class="blobs-wrapper">
        <div class="loader-blob"></div>
      </div>
      <!-- preloader end -->

      <!--header start-->
      <header id="masthead" class="header ttm-header-style-01 clearfix">
        <!-- top_bar -->
        <div class="top_bar ttm-bgcolor-darkgrey clearfix">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 d-flex flex-row align-items-center">
                <div class="top_bar_contact_item">
                  <div class="top_bar_icon"><i class="flaticon-tack"></i></div>
                  МЕДЕРОВА 197, БИШКЕК
                </div>
                <div class="top_bar_contact_item mr-auto">
                  <div class="top_bar_icon">
                    <i class="flaticon-paper-plane"></i>
                  </div>
                  sales@themetechmount.com
                </div>
                <div class="d-flex align-items-center">
                  <div class="site-description">{% trans "Социальные сети" %}</div>
                  <div class="top_bar_contact_item top_bar_social">
                    <ul class="social-icons">
                      <li class="facebook-icon">
                        <a
                          href="https://www.facebook.com/themetechMount18"
                          rel="noopener"
                          aria-label="facebook"
                          ><i class="fa fa-facebook"></i
                        ></a>
                      </li>
                      <li class="twitter-icon">
                        <a
                          href="https://twitter.com/themetechmount"
                          rel="noopener"
                          aria-label="twitter"
                          ><i class="fa fa-twitter"></i
                        ></a>
                      </li>
                      <li class="instagram-icon">
                        <a
                          href=" https://www.instagram.com/universal.goz/"
                          rel="noopener"
                          aria-label="instagram"
                          ><i class="fa fa-instagram"></i
                        ></a>
                      </li>
                      <li class="linkedin-icon">
                        <a
                          href="https://www.linkedin.com/company/themetech-mount/"
                          rel="noopener"
                          aria-label="linkedin"
                          ><i class="fa fa-linkedin"></i
                        ></a>
                      </li>
                    </ul>
<!--                                <div class="languages-switcher">-->
<!--									<i class="ri-global-line"></i>-->
<!--									<form action="{% url 'set_language' %}" method="post">{% csrf_token %}-->
<!--									<input name="next" type="hidden" value="{{ redirect_to }}">-->
<!--									<select name="language" onchange="this.form.submit()">-->
<!--										{% get_current_language as LANGUAGE_CODE %}-->
<!--										{% get_available_languages as LANGUAGES %}-->
<!--										{% get_language_info_list for LANGUAGES as languages %}-->
<!--										{% for language in languages %}-->

<!--											<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>-->
<!--												{{ language.name_local }}-->
<!--											</option>-->
<!--										{% endfor %}-->
<!--									</select>-->
<!--&lt;!&ndash;									<input type="submit" value="ОК">&ndash;&gt;-->
<!--									</form>-->

<!--								</div>-->
                  </div>
                </div>
                <form class="lang-switcher" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                  <input name="next" type="hidden" value="{{ redirect_to }}">
                  <select style="padding: 0 10px; background: transparent; color: #fff; border: none" name="language" onchange="this.form.submit()">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                    <option style="background: #fff; color: #111;" value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                      {{ language.name_local }}
                    </option>
                    {% endfor %}
                  </select>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- top_bar end -->
        <!-- site-header-menu -->
        <div id="site-header-menu" class="site-header-menu">
          <div class="site-header-menu-inner ttm-stickable-header">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <!--site-navigation -->
                  <div
                    class="site-navigation d-flex flex-row align-items-center justify-content-between"
                  >
                    <!-- site-branding -->
                    <div class="site-branding">
                      <a
                        class="home-link"
                        href="index.html"
                        title="Optrica"
                        rel="home"
                      >
                        <img
                          width="192"
                          id="logo-img"
                          class="img-center"
                          src="{% static 'assets/images/logo.png'%}"
                          alt="logo-img"
                        />
                      </a>
                    </div>
                    <!-- site-branding end -->
                    <div class="d-flex flex-row">
                      <div
                        class="btn-show-menu-mobile menubar menubar--squeeze"
                      >
                        <span class="menubar-box">
                          <span class="menubar-inner"></span>
                        </span>
                      </div>
                      <!-- menu -->
                      <nav class="main-menu menu-mobile" id="menu">
                        <ul class="menu">
                          <li class="mega-menu-item active">
                            <a href="{% url 'home' %}" class="mega-menu-link">{% trans 'Главная' %}</a>
                          </li>
                          <li class="mega-menu-item">
                            <a href="#" class="mega-menu-link">{% trans 'Сервисы' %}</a>
                            <ul class="mega-submenu">
                              <li><a href="{% url 'about' %}">{% trans 'О нас 1' %}</a></li>
                              <li><a href="{% url 'service' %}">{% trans 'Сервисы компании' %}</a></li>
                              <li><a href="{% url 'doctor' %}">{% trans 'Наша команда' %}</a></li>
                              <li>
                                <a href="team-details.html">{% trans 'Подробное описание' %}</a>
                              </li>
                              <li><a href="{% url 'faq'%}">{% trans 'Часто задаваемые вопросы' %}</a></li>
                              <li><a href="error.html">Error Page</a></li>
                            </ul>
                          </li>

                          <li class="mega-menu-item">
                            <a href="{% url 'treatment'%}" class="mega-menu-link">{% trans 'Диагнозы' %}</a>
                          </li>
                          <li class="mega-menu-item">
                            <a href="{% url 'news'%}" class="mega-menu-link">{% trans 'Новости' %}</a>
                          </li>
                          <li class="mega-menu-item">
                            <a href="{% url 'contact'%}">{% trans 'Контакты' %}</a>
                          </li>
                        </ul>
                      </nav>
                      <div
                        class="header_extra d-flex flex-row align-items-center justify-content-end"
                      >
                        <div class="header_btn">
                          <a
                            class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor ttm-btn-right ttm-icon-btn-right"
                            href="contact.html"
                            >{% trans 'Записаться' %}<i class="fontello icon-plus"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- site-navigation end-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- site-header-menu end-->
      </header>
      <!--header end-->

          {% block page%} {% endblock %}
        <footer class="footer widget-footer ttm-textcolor-white clearfix">
          <div class="second-footer">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                  <div class="widget widget_text clearfix">
                    <div class="footer-logo">
                      <img
                        id="footer-logo-img"
                        class="img-fluid auto_size"
                        src="{% static 'assets/images/logo-img.svg'%}"
                        alt="image"
                      />
                    </div>
                    <div
                      class="featured-icon-box icon-align-before-content icon-ver_align-top"
                    >
                      <div class="featured-icon">
                        <div
                          class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg"
                        >
                          <i
                            class="ttm-textcolor-skincolor flaticon-arroba"
                          ></i>
                        </div>
                      </div>
                      <div class="featured-content">
                        <div class="featured-title">
                          <h3>{% trans 'Бесплатная консультация' %}</h3>
                          <a href="mailto:sale@themetechmount.com"
                            ><br />sale@themetechmount.com</a
                          >
                        </div>
                      </div>
                    </div>
                    <p class="margin_top30">
                      {% trans 'Компания стремится обеспечить большее улучшение зрения в системе и технологиях.' %}
                    </p>
                    <div
                      class="social-icons d-inline-block margin_top10 margin_bottom10"
                    >
                      <ul class="list-inline">
                        <li class="social-facebook">
                          <a
                            class="tooltip-top"
                            target="_blank"
                            href="#"
                            rel="noopener"
                            aria-label="facebook"
                            data-tooltip="Facebook"
                          >
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="social-twitter">
                          <a
                            class="tooltip-top"
                            target="_blank"
                            href="#"
                            rel="noopener"
                            aria-label="Twitter"
                            data-tooltip="Twitter"
                          >
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                          </a>
                          </a>
                        </li>
                        <li class="social-flickr">
                          <a
                            class="tooltip-top"
                            target="_blank"
                            href="#"
                            rel="noopener"
                            aria-label="Flickr"
                            data-tooltip="Flickr"
                          >
                            <i class="fa fa-flickr" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li class="social-linkedin">
                          <a
                            class="tooltip-top"
                            target="_blank"
                            href="#"
                            rel="noopener"
                            aria-label="LinkedIn"
                            data-tooltip="LinkedIn"
                          >
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                  <div class="widget widget_nav_menu clearfix">
                    <h3 class="widget-title">{% trans 'Департаменты' %}</h3>
                    <ul id="menu-footer-service-link" class="menu">
                      <li><a href="{% url 'about' %}">{% trans 'Кто мы есть' %}</a></li>
                      <li><a href="{% url 'about_2' %}">{% trans 'Наша миссия' %}</a></li>
                      <li><a href="{% url 'news' %}">{% trans 'Награды' %}</a></li>
                      <li><a href="{% url 'doctor' %}">{% trans 'Наши врачи' %}</a></li>
                      <li><a href="{% url 'about_2' %}">{% trans 'До и После' %}</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 widget-area">
                  <div class="widget widget_nav_menu clearfix">
                    <h3 class="widget-title">{% trans 'Прямая ссылка' %}</h3>
                    <ul id="menu-footer-quick-link" class="menu">
                      <li><a href="glasses.html">{% trans 'Лечение' %}</a></li>
                      <li><a href="glaucoma.html">{% trans 'Наши пациенты' %}</a></li>
                      <li><a href="contact.html">{% trans 'Свяжитесь с нами' %}</a></li>
                      <li><a href="our-team.html">{% trans 'Назначения' %}</a></li>
                      <li><a href="phakic-lens.html">{% trans 'О нас' %}</a></li>
                      <li><a href="faqs.html">{% trans 'Политика конфиденциальности' %}</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bottom-footer-text ttm-bgcolor-skincolor copyright">
            <div class="container">
              <div class="row">
                <div class="col-xl-5">
                  <div
                    class="d-md-flex justify-content-between mr-auto res-1199-padding_bottom10"
                  >
                    <span class="cpy-text"
                      >2022. Все права защищены. Дизайнер
                      <a href="services-2.html" class="font-weight-500">ASOI </a
                      ></span
                    >
                  </div>
                </div>
                <div class="col-xl-7">
                  <div class="d-md-flex mr-auto">
                    <!-- widget-info -->
                    <div
                      class="widget_info d-flex flex-row align-items-center justify-content-center"
                    >
                      <div class="widget_icon">
                        <img
                          width="55"
                          height="55"
                          class="img-fluid"
                          src="{% static 'assets/images/email.svg'%}"
                          alt="image"
                        />
                      </div>
                      <div class="widget_content">
                        <p class="widget_title">
                          <a href="mailto:info@example.com">info@example.com</a>
                        </p>
                      </div>
                    </div>
                    <!-- widget-info end -->
                    <!-- widget-info -->
                    <div
                      class="widget_info d-flex flex-row align-items-center justify-content-center res-767-padding_left0"
                    >
                      <div class="widget_icon">
                        <i class="flaticon-call"></i>
                      </div>
                      <div class="widget_content">
                        <p class="widget_title">0312540054</p>
                      </div>
                    </div>
                    <!-- widget-info end -->
                    <!-- widget-info -->
                    <div
                      class="widget_info d-flex flex-row align-items-center justify-content-center"
                    >
                      <div class="widget_icon">
                        <i class="flaticon-location-1"></i>
                      </div>
                      <div class="widget_content">
                        <p class="widget_title">МЕДЕРОВА 197, БИШКЕК</p>
                      </div>
                    </div>
                    <!-- widget-info end -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>

      <!--back-to-top start-->
      <a id="totop" href="#top">
        <i class="fa fa-angle-up"></i>
      </a>
      <!--back-to-top end-->
    </div>
    <!-- page end -->

    <!-- Javascript -->

    <script src="{% static 'assets/js/jquery-3.6.0.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery-migrate-3.3.2.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.easing.js'%}"></script>
    <script src="{% static 'assets/js/jquery-waypoints.js'%}"></script>
    <script src="{% static 'assets/js/jquery-validate.js'%}"></script>
    <script src="{% static 'assets/js/jquery.prettyPhoto.js'%}"></script>
    <script src="{% static 'assets/js/slick.min.js'%}"></script>
    <script src="{% static 'assets/js/numinate.min.js'%}"></script>
    <script src="{% static 'assets/js/imagesloaded.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery-isotope.js'%}"></script>
    <script src="{% static 'assets/js/jquery.event.move.js'%}"></script>
    <script src="{% static 'assets/js/jquery.twentytwenty.js'%}"></script>
    <script src="{% static 'assets/js/main.js'%}"></script>
  </body>
</html>
