{% extends 'index2.html' %}
{% load static %}
{% load i18n%}
{% block page %}


        <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="ttm-page-title-row-inner">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="page-title-heading">
                                <h2 class="title">{% trans 'О нас' %}</h2>
                            </div>
                            <div class="breadcrumb-wrapper">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-title end -->


        <!--site-main start-->
        <div class="site-main">


            <!--top_zero_padding-section-->
            <section class="ttm-row zero_padding-section ttm-bgcolor-grey clearfix">
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ttm-bg ttm-col-bgcolor-yes ttm-bgcolor-white spacing-7 z-index-1">
                                <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                                <div class="layer-content">
                                    <div class="row row-equal-height no-gutters">
                                        <div class="col-lg-4 col-md-12">
                                            <!--featured-icon-box-->
                                            <div class="featured-icon-box icon-align-before-content style5 icon-ver_align-top ttm-bgcolor-skincolor">
                                                <div class="featured-icon">
                                                    <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-white ttm-icon_element-size-lg">
                                                        <i class="flaticon flaticon-optical-2"></i>
                                                    </div>
                                                </div>
                                                <div class="featured-content">
                                                    <div class="featured-title">
                                                        <h3>{% trans 'Квалифицированные врачи' %}</h3>
                                                    </div>
                                                    <div class="featured-desc">
                                                        <p>{% trans 'Команда экспертов, имеющих большой опыт в области зрения' %}</p>
                                                    </div>
                                                </div>
                                            </div><!-- featured-icon-box end-->
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <!--featured-icon-box-->
                                            <div class="featured-icon-box icon-align-before-content style5 icon-ver_align-top ttm-bgcolor-darkgrey">
                                                <div class="featured-icon">
                                                    <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-white ttm-icon_element-size-lg">
                                                        <i class="flaticon flaticon-eye-exam-2"></i>
                                                    </div>
                                                </div>
                                                <div class="featured-content">
                                                    <div class="featured-title">
                                                        <h3>{% trans 'Экстренная помощь' %}</h3>
                                                    </div>
                                                    <div class="featured-desc">
                                                        <p>{% trans 'Наша служба поддержки работает круглосуточно и без выходных.' %}</p>
                                                    </div>
                                                </div>
                                            </div><!-- featured-icon-box end-->
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <!--featured-icon-box-->
                                            <div class="featured-icon-box icon-align-before-content style5 icon-ver_align-top ttm-bgcolor-skincolor">
                                                <div class="featured-icon">
                                                    <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-white ttm-icon_element-size-lg">
                                                        <i class="flaticon flaticon-computer"></i>
                                                    </div>
                                                </div>
                                                <div class="featured-content">
                                                    <div class="featured-title">
                                                        <h3>{% trans 'Современное оборудование' %}</h3>
                                                    </div>
                                                    <div class="featured-desc">
                                                        <p>{% trans 'Компания оснащена высокотехнологичным оборудованием и технологиями.' %}</p>
                                                    </div>
                                                </div>
                                            </div><!-- featured-icon-box end-->
                                        </div>
                                    </div>
                                    <div class="row padding_top100 res-991-padding_top50">
                                        <div class="col-lg-6 col-md-12">
                                            <div class="d-inline-block position-relative">
                                                <!-- ttm_single_image-wrapper -->
                                                <div class="ttm_single_image-wrapper text-left">
                                                    <img class="img-fluid" src="{% static 'assets/images/single-img-13.jpg'%}" alt="single_06">
                                                </div>
                                                <div class="d-table align-items-center mt_200 margin_bottom120 box-shadow">
                                                    <div class="d-table-cell align-middle position-relative ttm-bgcolor-white p-50 padding_top25 padding_bottom25 res-991-p-10 res-991-padding_left20 res-991-padding_right20">
                                                        <h2 class="fs-18 mb-0">{% trans 'Мы застрахованы и надежны' %}</h2>
                                                    </div>
                                                    <a class="d-table-cell align-middle" href="#">
                                                        <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-skincolor ttm-icon_element-size-md ttm-icon_element-style-square mb-0 border-0">
                                                            <i class="fa fa-angle-right"></i>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-xs-12">
                                            <div class="padding_left15 res-991-padding_left0 padding_top30 res-991-padding_top50">
                                                <!-- section title -->
                                                <div class="section-title">
                                                    <div class="title-header">
                                                        <h3>EyeCare</h3>
                                                        <h2 class="title">{% trans 'Познакомьтесь с нами, чтобы получить индивидуальное лечение' %}</h2>
                                                    </div>
                                                    <div class="heading-seperator"><span></span></div>
                                                    <div class="title-desc"><p>{% trans 'Соединить нас со всеми легко, создав учетную запись. Зарегистрировавшись, вы на один шаг приблизитесь к врачу в вашем районе. Уход за глазами не подходит всем.' %}</p>
                                                    <p>{% trans 'Ожидание — самое страшное. Наша цель — связать вас с провайдером в течение часа. Если вам нужен рецепт, его можно отправить напрямую.' %}</p></div>
                                                </div><!-- section title end -->
                                                <div class="row padding_top15">
                                                    <div class="col-lg-6 col-md-5 col-sm-6 padding_right20">
                                                        <!--featured-icon-box-->
                                                        <div class="featured-icon-box icon-align-before-title icon-ver_align-top style6">
                                                            <div class="featured-icon">
                                                                <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                                                    <i class="fa fa-play"></i>
                                                                </div>
                                                            </div>
                                                            <div class="featured-title">
                                                                <h3>{% trans 'Профессиональные техники' %}</h3>
                                                            </div>
                                                            <div class="featured-content">
                                                                <div class="featured-desc">
                                                                    <p>{% trans 'Улучшение вашего видения, чтобы улучшить ситуацию.' %}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- featured-icon-box end-->
                                                        <!--featured-icon-box-->
                                                        <div class="featured-icon-box icon-align-before-title icon-ver_align-top style6">
                                                            <div class="featured-icon">
                                                                <div class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg">
                                                                    <i class="fa fa-play"></i>
                                                                </div>
                                                            </div>
                                                            <div class="featured-title">
                                                                <h3>{% trans 'Страсть к исцелению' %}</h3>
                                                            </div>
                                                            <div class="featured-content">
                                                                <div class="featured-desc">
                                                                    <p>{% trans 'Мы стремимся улучшить общее состояние здоровья каждого человека.' %}</p>
                                                                </div>
                                                            </div>
                                                        </div><!-- featured-icon-box end-->
                                                    </div>
                                                    <div class="col-lg-6 col-md-5 col-sm-6">
                                                        <!-- ttm-fid -->
                                                        <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-topicon style2 ttm-bgcolor-grey p-30 res-991-p-30">
                                                            <div class="ttm-fid-icon-wrapper ttm-textcolor-skincolor">
                                                                <i class="flaticon flaticon-eye-3"></i>
                                                            </div>
                                                            <div class="ttm-fid-contents">
                                                                <h4 class="ttm-fid-inner">
                                                                    <span data-appear-animation="animateDigits" data-from="0" data-to="440" data-interval="4" data-before="" data-before-style="sup" data-after="" data-after-style="sub" class="numinate">
                                                                        440
                                                                    </span>
                                                                </h4>
                                                                <h3 class="ttm-fid-title">{% trans 'Успешно' %} <br>{% trans 'Хирургия глаза' %}</h3>
                                                            </div>
                                                        </div><!-- ttm-fid end -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--top_zero_padding-section end-->


            <section class="ttm-row zero_padding-section ttm-bgcolor-grey bg-layer-equal-height clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-xs-12">
                            <div class="padding_top90 padding_bottom90 res-991-padding_top60 res-991-padding_bottom40">
                                <!-- section title -->
                                <div class="section-title">
                                    <div class="title-header">
                                        <h2 class="title">{% trans 'Представляем оптометриста высокого качества' %} <span class="ttm-textcolor-skincolor"> Clinic</span></h2>
                                    </div>
                                    <div class="heading-seperator"><span></span></div>
                                    <div class="title-desc"><p>{% trans 'Офтальмологи – это врачи. Они прошли специальную подготовку в области медицины и хирургии глаза. Они проводят проверку зрения, диагностируют и лечат все глазные заболевания и проводят операции на глазах.' %}</p></div>
                                </div><!-- section title end -->
                                <div class="padding_top10"></div>
                                <!-- ttm-progress-bar -->
                                <div class="ttm-progress-bar clearfix" data-percent="80%">
                                    <div class="progressbar-title">Глаукома</div>
                                    <div class="progress-bar-inner">
                                        <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                    </div>
                                    <div class="progress-bar-percent" data-percentage="80">80%</div>
                                </div><!-- ttm-progress-bar end -->
                                <!-- ttm-progress-bar -->
                                <div class="ttm-progress-bar clearfix" data-percent="70%">
                                    <div class="progressbar-title">Катаракта</div>
                                    <div class="progress-bar-inner">
                                        <div class="progress-bar progress-bar-color-bar_skincolor"></div>
                                    </div>
                                    <div class="progress-bar-percent" data-percentage="70">70%</div>
                                </div><!-- ttm-progress-bar end -->
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <!-- col-img-img-seven -->
                            <div class="col-bg-img-seven ttm-col-bgimage-yes ttm-right-span ttm-bg">
                                <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                                <div class="layer-content"></div>
                            </div><!-- col-img-bg-img-seven end-->
                            <img src="{% static 'assets/images/bg-image/col-bgimage-7.png'%}" class="img-fluid ttm-equal-height-image" alt="bg-image">
                        </div>
                    </div><!-- row end -->
                </div>
            </section>


            <!--procedure-section-->
            <section class="ttm-row procedure-section clearfix">
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- section title -->
                            <div class="section-title title-style-center_text">
                                <div class="title-header">
                                    <h3>{% trans 'Наши эксперты' %}</h3>
                                    <h2 class="title">{% trans 'Как это помогает вам оставаться сильным' %}</h2>
                                </div>
                                <div class="heading-seperator"><span></span></div>
                                <div class="title-desc">
                                    <p>{% trans 'Если вы ищете лучшего офтальмолога онлайн для индивидуального лечения рядом с вами, следуйте инструкциям.' %}</p>
                                </div>
                            </div><!-- section title end -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb_30">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <!-- featured-imagebox -->
                                        <div class="featured-imagebox featured-imagebox-procedure">
                                            <div class="featured-thumbnail">
                                                <img class="img-fluid auto_size" width="200" height="200" src="{% static 'assets/images/process01-200x200.jpg'%}" alt="image">
                                                <div class="process-num"><span class="number">01</span></div>
                                            </div>
                                            <div class="featured-content">
                                                <div class="featured-title">
                                                    <h3>{% trans 'Производство ткани' %}</h3>
                                                </div>
                                                <div class="featured-desc">
                                                    <p>{% trans 'Мы производим лучшее качество ткани, охватывающее все аспекты' %}</p>
                                                </div>
                                            </div>
                                        </div><!-- featured-imagebox end-->
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <!-- featured-imagebox -->
                                        <div class="featured-imagebox featured-imagebox-procedure">
                                            <div class="featured-thumbnail">
                                                <img class="img-fluid auto_size" width="200" height="200" src="{% static 'assets/images/process02-200x200.jpg'%}" alt="image">
                                                <div class="process-num"><span class="number">02</span></div>
                                            </div>
                                            <div class="featured-content">
                                                <div class="featured-title">
                                                    <h3>{% trans 'Экспорт по всему миру' %}</h3>
                                                </div>
                                                <div class="featured-desc">
                                                    <p>{% trans 'Мы экспортируем не только локально, но и по всему миру' %}</p>
                                                </div>
                                            </div>
                                        </div><!-- featured-imagebox end-->
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <!-- featured-imagebox -->
                                        <div class="featured-imagebox featured-imagebox-procedure">
                                            <div class="featured-thumbnail">
                                                <img class="img-fluid auto_size" width="200" height="200" src="{% static 'assets/images/process03-200x200.jpg'%}" alt="image">
                                                <div class="process-num"><span class="number">03</span></div>
                                            </div>
                                            <div class="featured-content">
                                                <div class="featured-title">
                                                    <h3>{% trans 'Доступен цифровой магазин' %}</h3>
                                                </div>
                                                <div class="featured-desc">
                                                    <p>{% trans 'Продемонстрированы в цифровом виде все наши продукты для максимального охвата' %}</p>
                                                </div>
                                            </div>
                                        </div><!-- featured-imagebox end-->
                                    </div>
                                    <div class="col-lg-3 col-md-6 col-sm-6">
                                        <!-- featured-imagebox -->
                                        <div class="featured-imagebox featured-imagebox-procedure">
                                            <div class="featured-thumbnail">
                                                <img class="img-fluid auto_size" width="200" height="200" src="{% static 'assets/images/process04-200x200.jpg'%}" alt="image">
                                                <div class="process-num"><span class="number">04</span></div>
                                            </div>
                                            <div class="featured-content">
                                                <div class="featured-title">
                                                    <h3>{% trans 'Отличная поддержка клиентов' %}</h3>
                                                </div>
                                                <div class="featured-desc">
                                                    <p>{% trans 'наша стойка регистрации доступна для клиентов 24*7!' %}</p>
                                                </div>
                                            </div>
                                        </div><!-- featured-imagebox end-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--procedure-section end-->


        <!--site-main start-->
        <div class="site-main">


            <!--about-section-->
            <section class="ttm-row about-section clearfix">
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="d-flex position-relative">
                                <div class="ttm-bgcolor-grey2 padding_left30 margin_top100">
                                    <div class="mt_100">
                                        <!-- ttm_single_image-wrapper -->
                                        <div class="ttm_single_image-wrapper text-left">
                                            <img class="img-fluid" src="{% static 'assets/images/single-img-07.jpg'%}" alt="single_07">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="res-991-padding_top50">
                                <!-- section title -->
                                <div class="section-title">
                                    <div class="title-header">
                                        <h3>{% trans "Уход за глазами" %}</h3>
                                        <h2 class="title">{% trans "Мы сохраняем, улучшаем и защищаем ваше зрение." %}</h2>
                                    </div>
                                    <div class="heading-seperator"><span></span></div>
                                    <div class="title-desc"><p>{% trans "Вы ничего не имеете, если у вас нет серьезных травм, которые могут привести к серьезным травмам, ухудшению состояния глаз или трудным ситуациям." %} <span class="ttm-textcolor-skincolor"></span> </p>
                                </div><!-- section title end -->
                                <div class="padding_top10 padding_bottom35 res-991-padding_right0">
                                    <div class="d-sm-flex align-items-center">
                                        <div class="d-flex align-items-center">
                                            <div class="rounded-circle overflow-hidden">
                                                <img height="85" width="85" class="img-fluid auto_size" src="{% static 'assets/images/testimonial/02.jpg'%}" alt="testimonial-img">
                                            </div>
                                            <div class="padding_left15">
                                                <h3 class="margin_bottom0 fs-18">Dr. Terri Williams</h3>
                                                <label class="margin_bottom0">{% trans "Главный врач" %}</label>
                                            </div>
                                        </div>
                                        <div class="margin_left30 padding_left30 border-left">
                                            <img height="62" width="192" class="img-fluid auto_size" src="{% static 'assets/images/sign-01.png'%}" alt="sign-01">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--about-section end-->


            <!-- bottom_zero_padding-section -->
            <section class="ttm-row bottom_zero_padding-section ttm-bgcolor-grey bg-layer-equal-height clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-xs-12">
                            <div class="padding_bottom90 res-991-padding_bottom40">
                                <!-- section title -->
                                <div class="section-title">
                                    <div class="title-header">
                                        <h2 class="title">{% trans "Представляем оптометриста высокого качества" %} <span class="ttm-textcolor-skincolor"> Клиника</span></h2>
                                    </div>
                                    <div class="heading-seperator"><span></span></div>
                                </div><!-- section title end -->
                                <div class="padding_bottom35">
                                    <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor ttm-textcolor-darkgrey">
                                        <li><i class="fa fa-check"></i><div class="ttm-list-li-content">{% trans "Составление индивидуальной программы лечения пациента." %}</div></li>
                                        <li><i class="fa fa-check"></i><div class="ttm-list-li-content">{% trans "Выполнение всех операций работает на профессиональном уровне." %}</div></li>
                                        <li><i class="fa fa-check"></i><div class="ttm-list-li-content">{% trans "Соответствие материалов международным стандартам." %}</div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- col-img-img-six -->
                            <div class="col-bg-img-six ttm-col-bgimage-yes ttm-right-span ttm-bg">
                                <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                                <div class="layer-content"></div>
                            </div><!-- col-img-bg-img-six end-->
                            <img src="{% static 'assets/images/bg-image/col-bgimage-6.jpg'%}" class="img-fluid ttm-equal-height-image" alt="bg-image">
                        </div>
                    </div><!-- row end -->
                </div>
            </section>
            <!-- bottom_zero_padding-section end -->
        </div><!--site-main end-->



        </div><!--site-main end-->




{% endblock %}