{% extends 'index2.html' %}
{% load static %}
{% load i18n%}
{% block page %}

         <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="ttm-page-title-row-inner">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="page-title-heading">
                                <h2 class="title">{% trans "Наша команда" %}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-title end -->

        <!--site-main start-->
        <div class="site-main">


            <!--grid-section-->
            <section class="ttm-row grid-section clearfix">
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        {% for doctor in doctors %}
                        <div class="ttm-box-col-wrapper col-lg-4 col-md-6 col-sm-6">
                            <!-- featured-imagebox-team -->
                            <div class="featured-imagebox featured-imagebox-team style1">
                                <div class="featured-thumbnail">
                                    <img class="img-fluid" src="{{ doctor.image.url}}" alt="image">
                                    <div class="featured-iconbox ttm-media-link">
                                    <div class="media-block">
                                        <ul class="social-icons">
                                            <li><a class="tooltip-top" href="#" rel="noopener" aria-label="facebook" tabindex="0"><i class="fa fa-facebook"></i></a></li>
                                            <li><a class="tooltip-top" href="#" rel="noopener" aria-label="twitter" tabindex="0"><i class="fa fa-twitter"></i></a></li>
                                            <li><a class="tooltip-top" href="#" rel="noopener" aria-label="google" tabindex="0"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a class="tooltip-top" href="#" rel="noopener" aria-label="linkedin" tabindex="0"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                </div>
                                <div class="featured-content">
                                    <div class="featured-title">
                                        <h3><a href="{% url 'doctor' doctor.pk %}" tabindex="0">{{ doctor.full_name }}</a></h3>
                                    </div>
                                    <div class="team-position">{{ doctor.position }}</div>
                                </div>
                                <div class="ttm-team-bottom-content">
                                    <div class="ttm-available-timebox-inner">
                                    </div>
                                    <div class="ttm-btn-bottom">
                                        <a href="team-details.html" class="ttm-btn btn-inline ttm-btn-size-md  ttm-btn-color-skincolor font-weight-500" tabindex="0">Booking A Visit<i class="fontello icon-plus"></i></a>
                                    </div>
                                </div>
                            </div><!-- featured-imagebox-team end-->
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <!--grid-section end-->


            <!--cta-section-->
            <section class="ttm-row ttm-bgimage-yes bg-img10 ttm-bg ttm-bgcolor-darkgrey clearfix">
                <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
                <div class="container"><!--container-->
                    <div class="row"><!--row-->
                        <div class="col-lg-8 m-auto">
                            <div class="row-title text-center">
                                <div class="ttm-play-icon-btn mb-35">
                                    <div class="ttm-play-icon-animation">
                                        <a href="https://youtu.be/7e90gBu4pas" target="_self" class="ttm_prettyphoto">
                                            <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-color-skincolor ttm-icon_element-size-sm ttm-icon_element-style-rounded">
                                                <i class="fa fa-play"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="padding_bottom20 padding_top20">
                                    <h3 class="fs-18 ttm-textcolor-skincolor padding_bottom5">{% trans "ХОТИТЕ ПОЛУЧИТЬ СКИДКУ 20%?" %}</h3>
                                    <h2 class="fs-50">{% trans "Получите Решения Для Всех Видов Офтальмологических Услуг" %} </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--cta-section end-->


            <!--client-section-->
            <div class="ttm-row client-section ttm-bgcolor-grey clearfix">
                <div class="container">
                    <!-- slick_slider -->
                    <div class="slick_slider slick-slide_ver-sep row" data-slick='{"slidesToShow": 6, "slidesToScroll": 1, "arrows":false, "autoplay":true, "infinite":true, "responsive": [{"breakpoint":1200,"settings":{"slidesToShow": 5}}, {"breakpoint":1024,"settings":{"slidesToShow": 4}}, {"breakpoint":777,"settings":{"slidesToShow": 3}}, {"breakpoint":575,"settings":{"slidesToShow": 2}}]}'>
                        <div class="col-lg-12">
                            <div class="client-box style2">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-01">
                                    <div class="client-thumbnail client-thumbnail-grayscale">
                                        <img class="img-fluid auto_size" src="{% static 'assets/images/client/skin-client-01.png'%}" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="client-box style2">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-02">
                                    <div class="client-thumbnail client-thumbnail-grayscale">
                                        <img class="img-fluid auto_size" src="{% static 'assets/images/client/skin-client-02.png'%}" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="client-box style2">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-03">
                                    <div class="client-thumbnail client-thumbnail-grayscale">
                                        <img class="img-fluid auto_size" src="{% static 'assets/images/client/skin-client-03.png'%}" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="client-box style2">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-04">
                                    <div class="client-thumbnail client-thumbnail-grayscale">
                                        <img class="img-fluid auto_size" src="{% static 'assets/images/client/skin-client-04.png'%}" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="client-box style2">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-05">
                                    <div class="client-thumbnail client-thumbnail-grayscale">
                                        <img class="img-fluid auto_size" src="{% static 'assets/images/client/skin-client-05.png'%}" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="client-box style2">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-01">
                                    <div class="client-thumbnail client-thumbnail-grayscale">
                                        <img class="img-fluid auto_size" src="{% static 'assets/images/client/skin-client-01.png'%}" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="client-box style2">
                                <div class="ttm-client-logo-tooltip" data-tooltip="client-06">
                                    <div class="client-thumbnail client-thumbnail-grayscale">
                                        <img class="img-fluid auto_size" src="{% static 'assets/images/client/skin-client-06.png'%}" alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- ttm-client end -->
                </div>
            </div>
            <!--client-section end-->


        </div><!--site-main end-->




{% endblock %}