{% extends 'index2.html' %}
{% load static %}
{% load i18n%}
{% block page %}
        <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="ttm-page-title-row-inner">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="page-title-heading">
                                <h2 class="title">{% trans "Часто задаваемые вопросы" %}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-title end -->

         <!--site-main start-->
        <div class="site-main">


            <section class="ttm-row faq-section bg-layer-equal-height clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- section-title -->
                            <div class="section-title title-style-center_text">
                                <div class="title-header">
                                    <h3>Часто задаваемые вопросы?</h3>
                                    <h3 class="title">Recently Asked Questions</h3>
                                </div>
                                <div class="heading-seperator"><span></span></div>
                            </div><!-- section-title end -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- ttm_single_image-wrapper -->
                            <div class="ttm_single_image-wrapper margin_top15">
                                <img class="img-fluid" src="{% static 'assets/images/single-img-08.jpg'%}" alt="single_08">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="accordion margin_top15 res-991-margin_top40">
                                {% for faq in faqs %}
                                <div class="toggle ttm-toggle_style_classic ttm-control-right-true ttm-toggle-title-bgcolor-grey">
                                    <div class="toggle-title"><a href="#" class="active">{{faq.question}}</a></div>
                                    <div class="toggle-content">
                                        <p>{{faq.answer}}</p>
                                    </div>
                                </div>
                                {% endfor %}

                           </div>
                        </div>
                    </div><!-- row end -->
                </div>
            </section>


<!--            <section class="ttm-row faq-section ttm-bgcolor-grey clearfix">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-lg-12">-->
<!--                            <div class="d-lg-flex align-items-center">-->
<!--                                <h3 class="fs-36 w-100"><strong>Recently Asked Questions</strong></h3>-->
<!--                                <div class="title-desc">-->
<!--                                    <p>Below you’ll find answers to some of the most frequently asked questions. We are constantly adding most frequently asked question to this page.</p>-->
<!--                                </div>-->
<!--                            </div>&lt;!&ndash; section title end &ndash;&gt;-->
<!--                        </div>-->
<!--                        <div class="col-lg-6">-->
<!--                            <div class="accordion padding_top30 res-991-padding_top0" id="accordion-1">-->
<!--                                &lt;!&ndash; toggle &ndash;&gt;-->
<!--                                <div class="toggle ttm-style-classic ttm-toggle_style_border ttm-control-right-true ttm-toggle-title-bgcolor-white">-->
<!--                                    <div class="toggle-title"><a href="#">1. Which types logo services you provide ?</a></div>-->
<!--                                    <div class="toggle-content">-->
<!--                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>-->
<!--                                    </div>-->
<!--                                </div>&lt;!&ndash; toggle end &ndash;&gt;-->
<!--                                &lt;!&ndash; toggle &ndash;&gt;-->
<!--                                <div class="toggle ttm-style-classic ttm-toggle_style_border ttm-control-right-true ttm-toggle-title-bgcolor-white">-->
<!--                                    <div class="toggle-title"><a href="#">2. Can we get logo vector file of design ?</a></div>-->
<!--                                    <div class="toggle-content">-->
<!--                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>-->
<!--                                    </div>-->
<!--                                </div>&lt;!&ndash; toggle end &ndash;&gt;-->
<!--                                &lt;!&ndash; toggle &ndash;&gt;-->
<!--                                <div class="toggle ttm-style-classic ttm-toggle_style_border ttm-control-right-true ttm-toggle-title-bgcolor-white">-->
<!--                                    <div class="toggle-title"><a href="#" class="active">3. Which types logo services you provide ?</a></div>-->
<!--                                    <div class="toggle-content show">-->
<!--                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>-->
<!--                                    </div>-->
<!--                                </div>&lt;!&ndash; toggle end &ndash;&gt;-->
<!--                                &lt;!&ndash; toggle &ndash;&gt;-->
<!--                                <div class="toggle ttm-style-classic ttm-toggle_style_border ttm-control-right-true ttm-toggle-title-bgcolor-white">-->
<!--                                    <div class="toggle-title"><a href="#">4. Which types logo services you provide ?</a></div>-->
<!--                                    <div class="toggle-content">-->
<!--                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>-->
<!--                                    </div>-->
<!--                                </div>&lt;!&ndash; toggle end &ndash;&gt;-->
<!--                                &lt;!&ndash; toggle &ndash;&gt;-->
<!--                                <div class="toggle ttm-style-classic ttm-toggle_style_border ttm-control-right-true ttm-toggle-title-bgcolor-white">-->
<!--                                    <div class="toggle-title"><a href="#">5. How Can I Contact You?</a></div>-->
<!--                                    <div class="toggle-content">-->
<!--                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>-->
<!--                                    </div>-->
<!--                                </div>&lt;!&ndash; toggle end &ndash;&gt;-->
<!--                           </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-6">-->
<!--                            <div class="accordion padding_top30" id="accordion-2">-->
<!--                                &lt;!&ndash; toggle &ndash;&gt;-->
<!--                                <div class="toggle ttm-style-classic ttm-toggle_style_border ttm-control-right-true ttm-toggle-title-bgcolor-white">-->
<!--                                    <div class="toggle-title"><a href="#" class="active">1. Which types logo services you provide ?</a></div>-->
<!--                                    <div class="toggle-content show">-->
<!--                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>-->
<!--                                    </div>-->
<!--                                </div>&lt;!&ndash; toggle end &ndash;&gt;-->
<!--                                &lt;!&ndash; toggle &ndash;&gt;-->
<!--                                <div class="toggle ttm-style-classic ttm-toggle_style_border ttm-control-right-true ttm-toggle-title-bgcolor-white">-->
<!--                                    <div class="toggle-title"><a href="#">2. Can we get logo vector file of design ?</a></div>-->
<!--                                    <div class="toggle-content">-->
<!--                                        <p class="active">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>-->
<!--                                    </div>-->
<!--                                </div>&lt;!&ndash; toggle end &ndash;&gt;-->
<!--                                &lt;!&ndash; toggle &ndash;&gt;-->
<!--                                <div class="toggle ttm-style-classic ttm-toggle_style_border ttm-control-right-true ttm-toggle-title-bgcolor-white">-->
<!--                                    <div class="toggle-title"><a href="#">3. Which types logo services you provide ?</a></div>-->
<!--                                    <div class="toggle-content">-->
<!--                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>-->
<!--                                    </div>-->
<!--                                </div>&lt;!&ndash; toggle end &ndash;&gt;-->
<!--                                &lt;!&ndash; toggle &ndash;&gt;-->
<!--                                <div class="toggle ttm-style-classic ttm-toggle_style_border ttm-control-right-true ttm-toggle-title-bgcolor-white">-->
<!--                                    <div class="toggle-title"><a href="#">4. Which types logo services you provide ?</a></div>-->
<!--                                    <div class="toggle-content">-->
<!--                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>-->
<!--                                    </div>-->
<!--                                </div>&lt;!&ndash; toggle end &ndash;&gt;-->
<!--                                &lt;!&ndash; toggle &ndash;&gt;-->
<!--                                <div class="toggle ttm-style-classic ttm-toggle_style_border ttm-control-right-true ttm-toggle-title-bgcolor-white">-->
<!--                                    <div class="toggle-title"><a href="#">5. How Can I Contact You?</a></div>-->
<!--                                    <div class="toggle-content">-->
<!--                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>-->
<!--                                    </div>-->
<!--                                </div>&lt;!&ndash; toggle end &ndash;&gt;-->
<!--                           </div>-->
<!--                        </div>-->
<!--                    </div>&lt;!&ndash; row end &ndash;&gt;-->
<!--                </div>-->
<!--            </section>-->

        </div><!--site-main end-->



{% endblock %}