{% extends 'index2.html' %}
{% load static %}
{% load i18n%}
{% block page %}
        <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="ttm-page-title-row-inner">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="page-title-heading">
                                <h2 class="title">{% trans "Новости" %}</h2>
                            </div>
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <i class="fa fa-home mr-2"></i><a title="Homepage" href="index.html">{% trans "Главная" %}</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; :&nbsp;: &nbsp;</span>
                                <span>{% trans "Новости" %}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                    
        </div>
        <!-- page-title end -->


        <!--site-main start-->
        <div class="site-main">

        
            <!--grid-section-->
            <section class="ttm-row grid-section clearfix">
                <div class="container">
                    <div class="row">
                        {% for new in news%}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <!-- featured-imagebox-post -->
                            <div class="featured-imagebox featured-imagebox-post style3">
                                <div class="ttm-post-thumbnail featured-thumbnail"> 
                                    <img class="img-fluid" src="{{ new.image.url }}" alt="image">
                                </div>
                                <div class="featured-content">
                                    <div class="post-meta ttm-bgcolor-skincolor">
                                        <span class="ttm-meta-line post-date">
                                            <i class="fa fa-calendar"></i>
                                            <a href="#" rel="bookmark">
                                                <time class="entry-date published" datetime="2020-11-11T04:34:34+00:00">{{ new.date }}</time>
                                            </a>
                                        </span>
                                    </div>
                                    <div class="featured-title">
                                        <h3><a href="{% url 'news' new.pk %}">{{ new.title}}</a></h3>
                                    </div>
                                    <div class="featured-desc">
                                        <p>{{new.text}}</p>
                                    </div>
                                    <div class="post-footer">
                                        <div class="post-footer-link">
                                            <a class="ttm-btn btn-inline d-block ttm-btn-size-md ttm-btn-color-skincolor" href="{% url 'news' new.pk %}">Подробнее<i class="fontello icon-plus"></i></a>
                                        </div>
                                        <div class="post-footer-comment">
                                        </div>
                                    </div>
                                </div>
                            </div><!-- featured-imagebox-post end-->
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            <!--grid-section end-->


        </div><!--site-main end-->


        {% endblock%}