{% extends 'index2.html' %}
{% load static %}
{% block page %}


        <!-- Start Blog Details Area -->
        <div class="blog-details-area pt-100 pb-100">
            <div class="container">
                <div class="blog-details-desc">
                    <div class="article-content">
                        <div class="article-image">
                            <img src="{{news.image.url}}" alt="image">
                            <div class="date">{{ news.date}}</div>
                        </div>
                        <span>By <a href="author.html">Admin</a> / No comment</span>
                        <h3>{{ news.title}}</h3>
                        {% for t in texts %}
                        {% if t.news.id == news.id%}
                        <p>{{ t.text}}</p>
                        {% endif%}
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
        <!-- End Blog Details Area -->
<!-- End Overview Area -->
        <!-- Start Footer Area -->

{% endblock%}