{% extends 'index2.html' %}
{% load static %}
{% block page %}

        <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="ttm-page-title-row-inner">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="page-title-heading">
                                <h2 class="title">Retina Care</h2>
                            </div>
                            <div class="breadcrumb-wrapper">
                                <span>
                                    <i class="fa fa-home mr-2"></i><a title="Homepage" href="index.html">Home</a>
                                </span>
                                <span class="ttm-bread-sep">&nbsp; :&nbsp;: &nbsp;</span>
                                <span>Retina Care</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page-title end -->


        <!--site-main start-->
        <div class="site-main">

            <div class="ttm-row sidebar ttm-sidebar-left ttm-bgcolor-white clearfix">
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-lg-3 widget-area sidebar-left">
                            <aside class="widget widget-nav-menu with-title">
                                <h3 class="widget-title">Services</h3>
                                <ul>
                                    <li><a href="glasses.html"> Contact Lenses </a></li>
                                    <li><a href="comprehensive.html"> Comprehensive </a></li>
                                    <li><a href="keratoconus.html"> Keratoconus </a></li>
                                    <li><a href="phakic-lens.html"> Phakic Lens </a></li>
                                    <li class="active"><a href="retina-disease.html"> Retina care </a></li>
                                    <li><a href="glaucoma.html"> Glaucoma </a></li>
                                </ul>
                            </aside>
                            <aside class="widget widget-text ttm-bgcolor-darkgrey">
                                <div class="contact_class">
                                    <h4>Our Location</h4>
                                    <p>2406 Beverley Rd Brooklyn New York 11456 United States</p><br>
                                      <h4>Quick Contact</h4>
                                    <p>Email:info@yourdomain.com Call Us:123 456 7890</p><br>
                                     <h4>Opening Hours</h4>
                                    <p>Monday - Friday</p>
                                    <p>09:00 Am- 06:00 PM</p><br>
                                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor margin_top5" href="contact.html">Book Appointment<i class="fontello icon-plus"></i></a>
                                </div>
                            </aside>
                            <aside class="widget widget-download with-title">
                                <h3 class="widget-title">Download</h3>
                                <ul class="download">
                                    <li class="ttm-bgcolor-darkgrey"><a href="#"><i class="fa fa-file-pdf-o"></i>Company Brouchure</a></li>
                                    <li class="ttm-bgcolor-darkgrey"><a href="#"><i class="fa fa-file-pdf-o"></i>Company Brouchure</a></li>
                                </ul>
                            </aside>
                        </div>
                        <div class="col-lg-9 content-area">
                            <div class="ttm-service-single-content-area">
                                <div class="ttm-featured-wrapper margin_bottom40">
                                    <img class="img-fluid" src="{% static 'assets/images/blog/blog-05-1200x800.jpg'%}" alt="">
                                </div>
                                <div class="ttm-service-description">
                                    <h4 class="fs-24">Overview</h4>
                                    <p>You are nothing witout your set eyes care set injury magna consectr elit, do eiusmod tempor incididunt or ut labore areas disease eyecare dolore aliqua. Ut <u><a class="ttm-textcolor-skincolor" href="#">enim ad et minim</a></u> veniam, and quis nostrud exercitation prouder You are nothing <strong>witout your set eyes</strong> care set injury magna consectr elit, do eiusmod tempor incididunt or ut labore areas disease eyecare dolore</p>
                                    <div class="padding_top10"></div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <!-- featured-icon-box -->
                                            <div class="featured-icon-box icon-align-before-content icon-ver_align-top style8">
                                                <div class="featured-icon">
                                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-style-round ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                                        <i class="flaticon-visual"></i>
                                                    </div>
                                                </div>
                                                <div class="featured-content">
                                                    <div class="featured-title">
                                                        <h3>Newest Equipment</h3>
                                                    </div>
                                                    <div class="featured-desc">
                                                        <p>Enhancing Your Vision dolor sitcon sec tetur eye adipisicing.</p>
                                                    </div>
                                                </div>
                                            </div><!-- featured-icon-box end -->
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- featured-icon-box -->
                                            <div class="featured-icon-box icon-align-before-content icon-ver_align-top style8">
                                                <div class="featured-icon">
                                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-style-round ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                                        <i class="flaticon-vision"></i>
                                                    </div>
                                                </div>
                                                <div class="featured-content">
                                                    <div class="featured-title">
                                                        <h3>Newest Equipment</h3>
                                                    </div>
                                                    <div class="featured-desc">
                                                        <p>Enhancing Your Vision dolor sitcon sec tetur eye adipisicing.</p>
                                                    </div>
                                                </div>
                                            </div><!-- featured-icon-box end -->
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- featured-icon-box -->
                                            <div class="featured-icon-box icon-align-before-content icon-ver_align-top style8">
                                                <div class="featured-icon">
                                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-style-round ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                                        <i class="flaticon-optometrist"></i>
                                                    </div>
                                                </div>
                                                <div class="featured-content">
                                                    <div class="featured-title">
                                                        <h3>Newest Equipment</h3>
                                                    </div>
                                                    <div class="featured-desc">
                                                        <p>Enhancing Your Vision dolor sitcon sec tetur eye adipisicing.</p>
                                                    </div>
                                                </div>
                                            </div><!-- featured-icon-box end -->
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- featured-icon-box -->
                                            <div class="featured-icon-box icon-align-before-content icon-ver_align-top style8">
                                                <div class="featured-icon">
                                                    <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-style-round ttm-icon_element-color-skincolor ttm-icon_element-size-md">
                                                        <i class="flaticon-optometrist-1"></i>
                                                    </div>
                                                </div>
                                                <div class="featured-content">
                                                    <div class="featured-title">
                                                        <h3>Newest Equipment</h3>
                                                    </div>
                                                    <div class="featured-desc">
                                                        <p>Enhancing Your Vision dolor sitcon sec tetur eye adipisicing.</p>
                                                    </div>
                                                </div>
                                            </div><!-- featured-icon-box end -->
                                        </div>
                                    </div>
                                    <div class="padding_top25"></div>
                                    <h4 class="fs-24">How Its Works?</h4>
                                    <p>You are nothing witout your set eyes care set injury magna consectr elit, do eiusmod tempor incididunt or ut labore areas <u><a class="ttm-textcolor-skincolor" href="#">disease eyecare dolore</a></u> aliqua. Ut enim ad et minim veniam, and quis nostrud exercitation produrYou are nothing witout your set eyes care set injury magna consectr elit, do eiusmod tempor incididunt or ut labore areas disease eyecare dolore</p>
                                    <div class="accordion padding_top15">
                                        <!-- toggle -->
                                        <div class="toggle ttm-toggle_style_classic ttm-control-right-true ttm-toggle-title-bgcolor-grey">
                                            <div class="toggle-title"><a href="#" class="active">Why i should choose your company?</a></div>
                                            <div class="toggle-content show p-20">
                                                <p><img class="alignleft mt-0 mr-4" src="{% static 'assets/images/process02-200x200.jpg'%}" alt="" width="85" height="85">Multi-user software to cover workflow, from management. Multi-user software to coverMulti-user software to cover workflow, frommanagement. Multi-user software to cover management.</p>
                                                <p>Multi-user software to cover workflow, from management. Multi-user software to cover workflow, from management. management. Multi-user software to cover management.</p>
                                            </div>
                                        </div><!-- toggle end -->
                                        <!-- toggle -->
                                        <div class="toggle ttm-toggle_style_classic ttm-control-right-true ttm-toggle-title-bgcolor-grey">
                                            <div class="toggle-title"><a href="#">Why i should choose your company?</a></div>
                                            <div class="toggle-content p-20">
                                                <p><img class="alignleft mt-0 mr-4" src="{% static 'assets/images/process01-200x200.jpg'%}" alt="" width="85" height="85">Multi-user software to cover workflow, from management. Multi-user software to coverMulti-user software to cover workflow, frommanagement. Multi-user software to cover management.</p>
                                                <p>Multi-user software to cover workflow, from management. Multi-user software to cover workflow, from management. management. Multi-user software to cover management.</p>
                                            </div>
                                        </div><!-- toggle end -->
                                        <!-- toggle -->
                                        <div class="toggle ttm-toggle_style_classic ttm-control-right-true ttm-toggle-title-bgcolor-grey'%}">
                                            <div class="toggle-title"><a href="#">Why i should choose your company?</a></div>
                                            <div class="toggle-content p-20">
                                                <p><img class="alignleft mt-0 mr-4" src="{% static 'assets/images/process03-200x200.jpg'%}" alt="" width="85" height="85">Multi-user software to cover workflow, from management. Multi-user software to coverMulti-user software to cover workflow, frommanagement. Multi-user software to cover management.</p>
                                                <p>Multi-user software to cover workflow, from management. Multi-user software to cover workflow, from management. management. Multi-user software to cover management.</p>
                                            </div>
                                        </div><!-- toggle end -->
                                        <!-- toggle -->
                                        <div class="toggle ttm-toggle_style_classic ttm-control-right-true ttm-toggle-title-bgcolor-grey">
                                            <div class="toggle-title"><a href="#">Why i should choose your company?</a></div>
                                            <div class="toggle-content p-20">
                                                <p><img class="alignleft mt-0 mr-4" src="{% static 'assets/images/process04-200x200.jpg'%}" alt="" width="85" height="85">Multi-user software to cover workflow, from management. Multi-user software to coverMulti-user software to cover workflow, frommanagement. Multi-user software to cover management.</p>
                                                <p>Multi-user software to cover workflow, from management. Multi-user software to cover workflow, from management. management. Multi-user software to cover management.</p>
                                            </div>
                                        </div><!-- toggle end -->
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- row end -->
                </div>
            </div>


        </div><!--site-main end-->



{% endblock%}