{% extends 'index2.html' %} {% load static %} {% load i18n%} {% block page %}

<!-- page-title -->
<div class="ttm-page-title-row">
  <div class="ttm-page-title-row-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="page-title-heading">
            <h2 class="title">{% trans 'Сервисы' %}</h2>
          </div>
          <div class="breadcrumb-wrapper">
            <span>
              <i class="fa fa-home mr-2"></i
              ><a title="Homepage" href="index.html">{% trans 'Главная' %}</a>
            </span>
            <span class="ttm-bread-sep">&nbsp; :&nbsp;: &nbsp;</span>
            <span>{% trans 'Сервисы' %}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- page-title end -->

<!--site-main start-->
<div class="site-main">
  <!--about-section-->
  <section class="ttm-row about-skill-section clearfix">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="d-inline-block border p-20">
            <!-- ttm_single_image-wrapper -->
            <div class="ttm_single_image-wrapper">
              <img
                class="img-fluid"
                src="{% static 'assets/images/single-img-10.jpg' %}"
                alt="single_10"
              />
            </div>
            <!-- ttm_single_image-wrapper end-->
          </div>
        </div>
        <div class="col-lg-6">
          <div
            class="ml_40 res-991-margin_left0 padding_left40 padding_top10 res-991-padding_top40"
          >
            <!-- section title -->
            <div class="section-title">
              <div class="title-header">
                <h3>EyeCare</h3>
                <h2 class="title">
                  {% trans 'Мы сохраняем, улучшаем и защищаем ваше зрение' %}
                  <span class="ttm-textcolor-skincolor"></span>
                </h2>
              </div>
              <div class="heading-seperator"><span></span></div>
              <div class="title-desc">
                <p>
                  You are nothing witout your set eyes care set injury magna
                  consectr elit, do eiusmod tempor incididunt or ut labore areas
                  disease eyecare dolore aliqua. Ut
                  <span class="ttm-textcolor-skincolor">enim ad et minim</span
                  >veniam, and quis nostrud exercitation produr conducted right
                  in our clinic.
                </p>
              </div>
            </div>
            <!-- section title end -->
            <div class="featuredbox-number clearfix">
              <!--featured-icon-box-->
              <div
                class="featured-icon-box icon-align-before-content icon-ver_align-top style4"
              >
                <div class="featured-icon">
                  <div
                    class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg"
                  >
                    <i class="flaticon flaticon-computer"></i>
                    <span class="ttm-num"></span>
                  </div>
                </div>
                <div class="featured-content">
                  <div class="featured-title">
                    <h3>Отличная технология</h3>
                  </div>
                  <div class="featured-desc">
                    <p>Smile Pure always places pats at Loream.</p>
                  </div>
                </div>
              </div>
              <!-- featured-icon-box end-->
              <!--featured-icon-box-->
              <div
                class="featured-icon-box icon-align-before-content icon-ver_align-top style4"
              >
                <div class="featured-icon">
                  <div
                    class="ttm-icon ttm-icon_element-onlytxt ttm-icon_element-color-skincolor ttm-icon_element-size-lg"
                  >
                    <i class="flaticon flaticon-optic"></i>
                    <span class="ttm-num"></span>
                  </div>
                </div>
                <div class="featured-content">
                  <div class="featured-title">
                    <h3>Отличная технология</h3>
                  </div>
                  <div class="featured-desc">
                    <p>Smile Pure always places pats at Loream.</p>
                  </div>
                </div>
              </div>
              <!-- featured-icon-box end-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--about-section end-->

  <!--services_2-section-->
  <section class="ttm-row services_2-section ttm-bgcolor-grey clearfix">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-lg-12">
          <!-- section title -->
          <div class="section-title title-style-center_text mt_10">
            <div class="title-header">
              <h3>Лучшее видение</h3>
              <h2 class="title">Услуги по уходу за глазами</h2>
            </div>
            <div class="heading-seperator"><span></span></div>
            <div class="title-desc">
              <p>
                Contrary to popular belief, Lorem Ipsum is not simply random
                text of classical Latin literature from 45 BC,
              </p>
            </div>
          </div>
          <!-- section title end -->
        </div>
      </div>
      <div
        class="row slick_slider slick-dots-style2"
        data-slick='{"slidesToShow": 3, "slidesToScroll": 1, "arrows":false, "dots":true, "autoplay":true, "infinite":true, "responsive": [{"breakpoint":1100,"settings":{"slidesToShow": 3}} , {"breakpoint":1000,"settings":{"slidesToShow": 2}},  {"breakpoint":575,"settings":{"slidesToShow": 1}}]}'
      >
        <div class="col-md-4 col-sm-6">
          <!--featured-imagebox-->
          <div class="featured-imagebox featured-imagebox-services style1">
            <!-- featured-thumbnail -->
            <div class="featured-thumbnail">
              <a href="analytic-solutions.html"
                ><img
                  class="img-fluid"
                  src="{% static 'assets/images/services/services-01-768x512.jpg' %}"
                  alt="image"
              /></a>
            </div>
            <!-- featured-thumbnail end-->
            <div class="featured-content">
              <div class="featured-title">
                <h3><a href="glasses.html">Контактные линзы</a></h3>
              </div>
              <div class="featured-desc">
                <p>
                  Поскольку безопасность вашего зрительного здоровья является
                  нашей главной заботой, самое строгое клиническое управление
                </p>
              </div>
            </div>
          </div>
          <!-- featured-imagebox end-->
        </div>
        <div class="col-md-4 col-sm-6">
          <!--featured-imagebox-->
          <div class="featured-imagebox featured-imagebox-services style1">
            <!-- featured-thumbnail -->
            <div class="featured-thumbnail">
              <a href="business-planning.html"
                ><img
                  class="img-fluid"
                  src="{% static 'assets/images/services/services-02-768x512.jpg' %}"
                  alt="image"
              /></a>
            </div>
            <!-- featured-thumbnail end-->
            <div class="featured-content">
              <div class="featured-title">
                <h3><a href="comprehensive.html">Comprehensive</a></h3>
              </div>
              <div class="featured-desc">
                <p>
                  Ваше время драгоценно, поэтому мы позаботимся о том, чтобы
                  ваше визуальное здоровье можно было регулярно контролировать в
                  подходящее время.
                </p>
              </div>
            </div>
          </div>
          <!-- featured-imagebox end-->
        </div>
        <div class="col-md-4 col-sm-6">
          <!--featured-imagebox-->
          <div class="featured-imagebox featured-imagebox-services style1">
            <!-- featured-thumbnail -->
            <div class="featured-thumbnail">
              <a href="branding-strategy.html"
                ><img
                  class="img-fluid"
                  src="{% static 'assets/images/services/services-03-768x512.jpg' %}"
                  alt="image"
              /></a>
            </div>
            <!-- featured-thumbnail end-->
            <div class="featured-content">
              <div class="featured-title">
                <h3><a href="keratoconus.html">Keratoconus</a></h3>
              </div>
              <div class="featured-desc">
                <p>
                  Там, где пациенты уполномочены брать на себя ответственность
                  за управление своими собственными эффективными для здоровья
                  планами лечения
                </p>
              </div>
            </div>
          </div>
          <!-- featured-imagebox end-->
        </div>
        <div class="col-md-4 col-sm-6">
          <!--featured-imagebox-->
          <div class="featured-imagebox featured-imagebox-services style1">
            <!-- featured-thumbnail -->
            <div class="featured-thumbnail">
              <a href="branding-strategy.html"
                ><img
                  class="img-fluid"
                  src="{% static 'assets/images/services/services-04-768x512.jpg' %}"
                  alt="image"
              /></a>
            </div>
            <!-- featured-thumbnail end-->
            <div class="featured-content">
              <div class="featured-title">
                <h3><a href="phakic-lens.html">Phakic Lens</a></h3>
              </div>
              <div class="featured-desc">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting istry. Lorem Ipsum has be industry's
                </p>
              </div>
            </div>
          </div>
          <!-- featured-imagebox end-->
        </div>
      </div>
      <!-- row end -->
      <div class="row">
        <div class="col-lg-12">
          <div class="padding_top70 res-1199-padding_top0"></div>
        </div>
      </div>
    </div>
  </section>
  <!--services_2-section end-->

  <!--portfolio-section-->
  <section class="ttm-row portfolio-section ttm-bgcolor-darkgrey clearfix">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="ttm-expandcontent-yes ttm-right-span">
            <div class="ttm-expandcontent_column">
              <div class="ttm-expandcontent_wrapper">
                <div class="ttm-tabs portfolio_filter_tab">
                  <ul class="tabs portfolio-filter res-991-pb-15 res-991-pt-10">
                    <li class="tab active">
                      <a href="#" data-filter="*">All Research</a>
                    </li>
                    <li class="tab">
                      <a href="#" data-filter=".retina-checkup"
                        >Retina Checkup</a
                      >
                    </li>
                    <li class="tab">
                      <a href="#" data-filter=".laser-eye-surgery"
                        >Laser Eye Surgery</a
                      >
                    </li>
                    <li class="tab">
                      <a href="#" data-filter=".glaucoma-surgery"
                        >Glaucoma Surgery</a
                      >
                    </li>
                    <li class="tab">
                      <a href="#" data-filter=".vision-correction"
                        >Vision Correction</a
                      >
                    </li>
                    <li class="tab">
                      <a href="#" data-filter=".cataract-surgery"
                        >Cataract Surgery</a
                      >
                    </li>
                  </ul>
                  <div class="content-tab">
                    <!-- content-inner -->
                    <div class="row ttm-boxes-spacing-5px isotope-project">
                      <div
                        class="col-lg-4 col-md-6 project_item laser-eye-surgery retina-checkup"
                      >
                        <!-- featured-imagebox-portfolio -->
                        <div
                          class="featured-imagebox featured-imagebox-portfolio style1"
                        >
                          <!-- ttm-box-view-overlay -->
                          <div class="ttm-box-view-overlay">
                            <!-- featured-thumbnail -->
                            <div class="featured-thumbnail">
                              <img
                                class="img-fluid"
                                src="{% static 'assets/images/portfolio/project-01-600x800.jpg' %}"
                                alt="image"
                              />
                            </div>
                            <!-- featured-thumbnail end-->
                            <div
                              class="featured-content featured-content-portfolio"
                            >
                              <span class="pf-num">01</span>
                              <span class="category">
                                <span>Лазерная хирургия глаза</span>,
                                <span>Проверка сетчатки</span>
                              </span>
                              <div class="featured-title">
                                <h3>
                                  <a href="transitions-lenses.html"
                                    >Переходные линзы</a
                                  >
                                </h3>
                              </div>
                              <div class="ttm-media-link">
                                <a
                                  href="transitions-lenses.html"
                                  class="ttm_link"
                                  tabindex="0"
                                  ><i class="ti ti-angle-right"></i
                                ></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- featured-imagebox-portfolio end-->
                      </div>
                      <div
                        class="col-lg-4 col-md-6 project_item glaucoma-surgery vision-correction"
                      >
                        <!-- featured-imagebox-portfolio -->
                        <div
                          class="featured-imagebox featured-imagebox-portfolio style1"
                        >
                          <!-- ttm-box-view-overlay -->
                          <div class="ttm-box-view-overlay">
                            <!-- featured-thumbnail -->
                            <div class="featured-thumbnail">
                              <a href="#">
                                <img
                                  class="img-fluid"
                                  src="{% static 'assets/images/portfolio/project-02-600x800.jpg' %}"
                                  alt="image"
                              /></a>
                            </div>
                            <!-- featured-thumbnail end-->
                          </div>
                          <!-- ttm-box-view-overlay end-->
                          <div
                            class="featured-content featured-content-portfolio"
                          >
                            <span class="pf-num">02</span>
                            <span class="category">
                              <span>Хирургия глаукомы</span>,
                              <span>Коррекция зрения</span>
                            </span>
                            <div class="featured-title">
                              <h3>
                                <a href="visual-impairment.html"
                                  >Нарушения зрения</a
                                >
                              </h3>
                            </div>
                            <div class="ttm-media-link">
                              <a href="visual-impairment.html" class="ttm_link"
                                ><i class="ti ti-angle-right"></i
                              ></a>
                            </div>
                          </div>
                        </div>
                        <!-- featured-imagebox-portfolio -->
                      </div>
                      <div
                        class="col-lg-4 col-md-6 project_item cataract-surgery vision-correction"
                      >
                        <!-- featured-imagebox-portfolio -->
                        <div
                          class="featured-imagebox featured-imagebox-portfolio style1"
                        >
                          <!-- ttm-box-view-overlay -->
                          <div class="ttm-box-view-overlay">
                            <!-- featured-thumbnail -->
                            <div class="featured-thumbnail">
                              <a href="#">
                                <img
                                  class="img-fluid"
                                  src="{% static 'assets/images/portfolio/project-03-600x800.jpg' %}"
                                  alt="image"
                              /></a>
                            </div>
                            <!-- featured-thumbnail end-->
                          </div>
                          <!-- ttm-box-view-overlay end-->
                          <div
                            class="featured-content featured-content-portfolio"
                          >
                            <span class="pf-num">03</span>
                            <span class="category">
                              <span>Операция по удалению катаракты</span>,
                              <span>Коррекция зрения</span>
                            </span>
                            <div class="featured-title">
                              <h3>
                                <a href="cochrane-eyesvision.html"
                                  >Кокрейновский взгляд на глаза</a
                                >
                              </h3>
                            </div>
                            <div class="ttm-media-link">
                              <a
                                href="cochrane-eyesvision.html"
                                class="ttm_link"
                                ><i class="ti ti-angle-right"></i
                              ></a>
                            </div>
                          </div>
                        </div>
                        <!-- featured-imagebox-portfolio -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--portfolio-section end-->
</div>
<!--site-main end-->

{% endblock %}
