{% extends 'index2.html' %}
{% load static %}
{% load i18n%}
{% block page %}
<!-- page-title -->
<div class="ttm-page-title-row">
  <div class="ttm-page-title-row-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <div class="page-title-heading">
            <h2 class="title">Операции</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- page-title end -->

<!--site-main start-->
<div class="site-main">
  <div class="sidebar ttm-sidebar-right ttm-bgcolor-white clearfix">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-lg-12 content-area">
          <!-- post -->
          <article class="post ttm-blog-single clearfix">
            <!-- ttm-blog-classic-content -->
            <div class="ttm-blog-single-content">
              <div class="entry-content">
                <div class="ttm-box-desc-text">
                  <div class="margin_top40 margin_bottom40">
                    <div class="row">
                      <div
                        class="col-md-6 ttm-box-col-wrapper res-767-padding_bottom30"
                      >
                        <img
                          class="img-fluid w-100 h-100"
                          src="{{ surgery.image.url }}"
                          alt="blog-image"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="text-content">
                    {% for s in surgery_desc %} {% if s.treatment.id == surgery.id%}
                    <h4 class="fs-22">{{ s.title }}</h4>
                    <p>{{ s.text }}</p>
                    {% endif %} {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <!-- ttm-blog-classic-content end -->
          </article>
          <!-- post end -->
        </div>
      </div>
      <!-- row end -->
    </div>
  </div>
</div>
<!--site-main end-->
{% endblock %}